<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.frankzhou.infrastructure.mapper.AwardMapper">

    <resultMap id="awardMap" type="com.frankzhou.infrastructure.entity.Award">
        <id column="id" property="id" javaType="Long"/>
        <result column="award_id" property="awardId" javaType="String"/>
        <result column="award_type" property="awardType" javaType="Integer"/>
        <result column="award_name" property="awardName" javaType="String"/>
        <result column="award_content" property="awardContent" javaType="String"/>
    </resultMap>

    <sql id="queryColumn">
        `id`,`award_id`,`award_type`,`award_name`,`award_content`
    </sql>

    <sql id="insertColumn">
        `id`,`award_id`,`award_type`,`award_name`,`award_content`,`create_time`,`update_time`
    </sql>

    <!-- Integer batchInsert(@Param("list") List<Award> awardList) -->
    <insert id="batchInsert" parameterType="list">
    </insert>

    <!-- Integer batchUpdate(@Param("list") List<Award> awardList) -->
    <update id="batchUpdate" parameterType="list">
    </update>

    <!-- Award queryAwardByAwardId(@Param("awardId") String awardId) -->
    <select id="queryAwardByAwardId" resultMap="awardMap">
    </select>

</mapper>