<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.frankzhou.infrastructure.mapper.RuleTreeNodeMapper">

    <resultMap id="ruleTreeMap" type="com.frankzhou.infrastructure.entity.RuleTreeNode">
        <id column="id" property="id" javaType="Long"/>
        <result column="tree_id" property="treeId" javaType="Integer"/>
        <result column="node_type" property="nodeType" javaType="Integer"/>
        <result column="node_value" property="nodeValue" javaType="String"/>
        <result column="rule_key" property="ruleKey" javaType="String"/>
        <result column="rule_desc" property="ruleDesc" javaType="String"/>
    </resultMap>

    <sql id="baseColumn">
        `id`,`tree_id`,`node_type`,`node_value`,`rule_key`,`rule_desc`
    </sql>

</mapper>